# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data (raw datasets)
data/raw/

# Outputs (models, plots)
outputs/models/
outputs/plots/


# Logs
*.log

# Environment variables
.env

# Streamlit cache
.streamlit/

# Temporary files
*.tmp
